@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Image = "url('/images/registration.jpg')";
    ViewBag.Title = "User Login";
    ViewBag.PageName = "User Login";
}

<div class="row d-flex">
    <div class="col-md-12 ftco-animate makereservation p-5 bg-light fadeInUp ftco-animated">
        <form asp-action="LoginPage" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email">E-mail</label>
                        <input asp-for="Email" type="text" class="form-control" placeholder="E-mail" data-val="true" data-val-required="The E-mail is required.">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" data-val="true" data-val-required="The E-mail is required.">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5 text-center">Log In</button>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="form-group text-center">
                        <div class="g-signin2 text-center" data-onsuccess="onSignIn"></div>
                    </div>
                </div>
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <a class="py-3 px-5 text-center" asp-action="RegistrationPage">Do not have an account yet?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<environment>
    <script>
    @*function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

        @this.Model.Email = profile.getEmail();
        @this.Model.User.Email = profile.getEmail();
        @this.Model.User.FirstName = profile.getName();


        @this.Model.User.LastName = profile.getFamilyName();
        @this.Model.loggedInThroughGoogle = true;

        //console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        //console.log('Full Name: ' + profile.getName());
        //console.log('Given Name: ' + profile.getGivenName());
        //console.log('Family Name: ' + profile.getFamilyName());
        //console.log("Image URL: " + profile.getImageUrl());
        //console.log("Email: " + profile.getEmail());

        //// The ID token you need to pass to your backend:
        //var id_token = googleUser.getAuthResponse().id_token;
        //console.log("ID Token: " + id_token);
    }*@
    </script>
</environment>