@model ServicesViewModel
@{
    Layout = "_Layout";
    ViewBag.Image = "url('/images/electricalHeader.jpg')";
    ViewBag.Title = "Plumbing Services";
    ViewBag.PageName = "Plumbing Services";

}

<section class="ftco-section bg-light">
    <div class="container text-center">
        @{
            <h2>@Model.ServiceTypes.Where(p => p.ServiceTypeId == 1).FirstOrDefault().Description</h2>
        }
        <div class="row d-flex no-gutters">
            <div class="col-md-6 text-center">
                <ul class="list-group">
                    @{
                        foreach (var item in Model.Services)
                        {
                            if (item.ServiceTypeId == 1)
                            {
                                <li class="list-group-item list-group-item-action"> <a asp-action="ServicePage" asp-route-id="@item.ServiceId"> @item.ServiceName </a></li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <ul class="list-group">
                    @{
                        foreach (var item in Model.Services)
                        {
                            if (item.ServiceTypeId == 1)
                            {
                                <li class="list-group-item list-group-item-action"> <a asp-action="ServicePage" asp-route-id="@item.ServiceId"> @item.ServiceName </a></li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <div class="form-group">
                    <button class="btn btn-primary py-3 px-5 text-center">Register for a service</button>
                </div>
            </div>
        </div>
    </div>
</section>