@model SearchModel

@{
    Layout = "_layout";
    ViewBag.Image = "url('/images/registration.jpg')";
    ViewBag.Title = "Search Results";
    ViewBag.PageName = "Search Results";
}

<section class="ftco-section bg-light">
    <div class="container text-center">
        
            <div class="col-md-10 text-center heading-section  ftco-animate">
                <h3>Search</h3>
                <partial name="_search" />
            </div>
        
        @if (Model.Services.Count > 0)
        {
            <div class="row d-flex no-gutters">
                <div class="col-md-6 text-center">
                    <ul class="list-group">

                        @for (int i = 0; i < Model.Services.Count(); i += 2)
                        {
                            <a asp-action="ServicePage" asp-route-id="@Model.Services.ElementAt(i).ServiceId">
                                <li class="list-group-item list-group-item-action">	@Model.Services.ElementAt(i).ServiceName</li>
                            </a>
                        }

                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <ul class="list-group">
                        @for (int i = 1; i < Model.Services.Count(); i += 2)
                        {
                            <a asp-action="ServicePage" asp-route-id="@Model.Services.ElementAt(i).ServiceId">
                                <li class="list-group-item list-group-item-action">	@Model.Services.ElementAt(i).ServiceName</li>
                            </a>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <h2>Oooops. We didn't find anything. Try again :)</h2>
        }
    </div>
</section>

@*<section class="ftco-section bg-light">
    <div class="container text-center">
        <div class="col-md-7 text-center heading-section  ftco-animate">
            <h3>Search</h3>
            <partial name="_search" />
        </div>
        <div class="row d-flex no-gutters">
            <h2>Provided Services</h2>
            @if (Model.Services.Count > 0)
            {
                <div class="col-md-6 text-center">
                    <ul class="list-group">
                        @for (int i = 0; i < Model.Services.Count(); i += 2)
                        {
                            <a asp-action="ServicePage" asp-route-id="@Model.Services.ElementAt(i).ServiceId">
                                <li class="list-group-item list-group-item-action">	@Model.Services.ElementAt(i).ServiceName</li>
                            </a>
                        }
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    <ul class="list-group">
                        @for (int i = 1; i < Model.Services.Count(); i += 2)
                        {
                            <a asp-action="ServicePage" asp-route-id="@Model.Services.ElementAt(i).ServiceId">
                                <li class="list-group-item list-group-item-action">	@Model.Services.ElementAt(i).ServiceName</li>
                            </a>
                        }
                    </ul>
                </div>
            }
            else
            {
                <h2>Oooops. We didn't find anything. Try again :)</h2>
            }
        </div>
    </div>
</section>*@
