@model Service
@{

    Layout = "_Layout";
    ViewBag.Image = "url('/images/bg_1.jpg')";
    ViewBag.Title = @Model.ServiceName;
    ViewBag.PageName = @Model.ServiceName;

    double averageRating = 0;
}

<div class="row d-flex">
    <div class="col-md-12 dish-menu">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ftco-animate fadeInUp ftco-animated">
                        <div class="col-12 text-center">
                            <hr />
                            <h2>Service Description</h2>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>Service: </h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.ServiceName</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Price Per Hour:</h4>
                </div>
                <div class="col-lg-6">
                    <h4>$@Model.PricePerHour</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Description:</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.Description</h4>
                </div>
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <a class="btn btn-primary py-3 px-5 text-center" asp-action="ServiceBookingPage" asp-route-id="@Model.ServiceId">Register for a service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @{
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
                    <hr />
                    <h2>Add a Review</h2>
                    <hr />
                </div>
                @Html.Partial("AddReview", new Review { ServiceId = Model.ServiceId });
            }
        }

        @if (Model.Reviews != null && Model.Reviews.Count != 0)
        {
            <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <hr />
                <h2>Reviews</h2>
                <hr />
            </div>
            @foreach (var item in Model.Reviews)
            {
                averageRating += item.Rating;
            }
            if (averageRating != 0)
            {
                averageRating /= Model.Reviews.Count();
                <h5 class="font-weight-bold" style="color:orange">
                    AVERAGE RATING: @for (int i = 0; i < Math.Round(averageRating); i++)
                    { Write("⭐ "); }
                    @{ Write(Math.Round(averageRating, 2));}
                </h5>
            }

            @foreach (var item in Model.Reviews)
            {
                <div class="row border">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5 class="font-weight-bold" style="color:orange">REVIEWER: @item.UserName</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5 class="font-weight-bold" style="color:orange">
                                RATING: @for (int i = 0; i < item.Rating; i++)
                                { Write("⭐ "); }
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h5 class="font-weight-bold" style="color:orange">
                                Date: @item.Date
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <p class="font-weight-bold">@item.ReviewText</p>
                        </div>
                    </div>
                    <hr />
                </div>
            }
        }
    </div>
</div>